
@import url('https://fonts.googlepis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vw;
}

header .logo img{
    width: 100%;
    max-width: 150px;
}

#menu-bar{
    font-size: 20px;
    display: none;
}

nav{
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63vw;
    list-style: none;
    transition: .5s;
}

nav a{
    text-decoration: none;
    color: #333;
    font-size: 1.4vw;
}

nav a:hover{
    color:#91D497;
;
}

nav .contact-us{
    border: 1px solid #91D497;
    padding: 4px 25px;
    border-radius: 5px;
    cursor: pointer;
}

nav .contact-us:hover{
    background-color: #91D497;
    color: #fff;
}


@media screen and (max-width:760px) {


    header{
        justify-content: space-between;
    }

    #menu-bar{
        display: block;
        cursor: pointer;
    }
    nav{
        position: absolute;
        top: -200%;
        align-items: center;
        flex-direction: column;
        padding: 1%;
        box-shadow: 0 4px 30px #91D497;
        background: #fff;
        z-index: 999;
        border-radius: 4px;
        width: 80%;
    }
    nav.active{
        top: 15%;
    }

    nav a{
        font-size: 18px;
        padding: 3%;
        border-bottom: 1px solid #91D497;
        width: 100%;
    }

    nav .contact-us{
        /* width: 50%; */
        margin-top: 4%;
        text-align: center;
    }

}


#home{
    width: 100%;
    min-height: 80vh;
    background-image: url(imgs/bg.png);
    background-position: center;
    background-size: cover;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content h1{
    color: #fff;
    font-size: 40px;
    padding: 2vw;
}

.home-content .button{
    padding: 10px 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
    text-align: center;
    cursor:pointer;
}

.home-content .button:hover{
    background-color: #91D497;
    color: #fff;
}
.home-content .button i{
    font-size: 9px;
    position: absolute;
    right: 1.5vw;
}

@media screen and (max-width:600px) {
    .home-content h1{
        font-size: 25px;
        padding: 1vw;
    }


    .home-content .button{
        padding: 8px 30px;
    }

    .home-content .button i{
        font-size: 9px;
        position: absolute;
        right: 1.5vw;
    }
}


/*About Section Starts*/

#about{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1.5vw;
}

.about img{
    width: 100%;
    max-width: 400px;
}

.about .ab-info{
    width: 50%;
}

.about .ab-info h1{
    margin-bottom: 1vw;
    font-weight: 500;
}

.about .ab-info h2{
    margin-bottom: 1vw;
    font-weight: 600;
}

.about .ab-info p{
    margin-bottom: 1vw;
}

.ab-info .abt-btn{
    padding: 24px 50px;
    background-color: #fff;
    border: 1px solid #91D497;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor:pointer;
    width: 100%;
    max-width: 250px;
    margin-top: 3vw;
}

.ab-info .abt-btn:hover{
    background-color: #91D497;
    color: #fff;
}

@media screen and (max-width:824px) {
    .about .ab-info{
        width: 90%;
        align-items: center;
    }

    .about img{
        width: 100%;
        max-width: 300px;
    }
}


@media screen and (max-width:500px) {
    .ab-info .abt-btn{
        padding: 14px 20px;
        background-color: #fff;
        border: 1px solid #91D497;
        color: #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        position: relative;
        text-align: center;
        cursor:pointer;
        width: 100%;
        max-width: 200px;
        margin-top: 3vw;
    }
}



/*Appointment Section Starts*/

#appoint{
    width: 100%;
    background: #DFE8E6;
    margin-top: 4vw;
}

.appoint{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    flex-wrap: wrap;
}

.appoint img{
    width: 100%;
    max-width: 380px;
    margin-top: 8%;
}

.appoint .left-form{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.appoint .left-form h1{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    font-weight: 600;
}

.appoint .left-form h2{
    font-weight: 200;
}

.appoint .left-form form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 6%;
}

.appoint .left-form form input{
    background: #C2DAD4;
    color: #898989;
    padding: 14px 20px;
    border-radius: 5px;
    margin-top: 1%;
    border: none;
    font-size: 20px;
    outline-color: #91D497;
}

.appoint .left-form form input[type="submit"]{
    width: 50%;
    margin-left: 20%;
    margin-top: 6%;
    cursor: pointer;
}

.appoint .left-form form input[type="submit"]:hover{
    background-color: #91D497;
    color: #fff;
}

@media screen and (max-width:678px) {
    .appoint .left-form{
        width: 100%;
    }

    .appoint img{
        width: 100%;
        max-width: 280px;
    }
}


/*Services Section*/

#services{
    width: 100%;
    margin-top: 6%;
}

.serve-title{
    text-align: center;
}

.serve-title h1{
    margin-bottom: 3%;
    font-size: 40px;
    font-weight: 100;
}

.serve-title h3{
    font-weight: 100;
}

.serve-container{
    display: flex;
    justify-content: center;
    gap: 3vw;
    flex-wrap: wrap;
    margin-top: 3%;
}

.serve-container .serve-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.serve-box img{
    width: 100%;
    max-width: 270px;
    margin-bottom: 8%;
}

.serve-box h2{
    font-weight: 200;
}

.services .serve-btn{
    padding: 24px 50px;
    background-color: #fff;
    border: 1px solid #91D497;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor:pointer;
    width: 100%;
    max-width: 250px;
    margin-top: 3vw;
}

.services .serve-btn:hover{
    background-color: #91D497;
    color: #fff;
}

.services .servbt{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:500px) {

    .serve-title h1{
        font-size: 7vw;
    }

    .serve-title h3{
        font-size: 3.7vw;
    }
    .services .serve-btn{
        padding: 14px 20px;
        width: 100%;
        max-width: 200px;
        margin-top: 6%;
    }
    
.serve-box img{
    width: 100%;
    max-width: 250px;
}

}


/*Philosophy Section Starts*/

#philo{
    width: 100%;
    margin-top: 4vw;
}

.philo-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    background: #DFE8E6;
}

.philo-container1 img{
    /* width: 100%; */
    width: 50vw;
}

.philo-container1 .philo-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw;
    width: 47vw;
}

.philo-container1 .philo-info h1{
    margin-bottom: 2%;
    margin-top: 10%;
    font-weight: 300;
    font-size: 3.5vw;
}

.philo-container1 .philo-info p{
    font-size: 1.7vw;
    font-weight: 100;
    color: #000;
    margin-top: 5%;
}

.philo-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.philo-container2 img{
    /* width: 100%; */
    width: 49vw;
}

.philo-container2 .philo-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    width: 47vw;
}


.philo-container2 .philo-info p{
    font-size: 1.7vw;
    font-weight: 100;
    color: #000;
    margin-top: 10%;
}

.philo-btn{
    padding: 24px 50px;
    background-color: #fff;
    border: 1px solid #91D497;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor:pointer;
    width: 100%;
    max-width: 250px;
    margin-top: 3vw;
}

.philo-info .philo-btn:hover{
    background-color: #91D497;
    color: #fff;
}

@media screen and (max-width:800px) {
    
    .philo-info .philo-btn{
        padding: 14px 20px;
        width: 100%;
        max-width: 200px;
        margin-top: 6%;
    }
}

@media screen and (max-width:500px) {
    .philo-container1 .philo-info,
     .philo-container2 .philo-info{
        width: 100%;
     }

     .philo-container1 .philo-info h1{
        margin-bottom: -2%;
        margin-top: 3%;
        font-size: 7vw;
    }
    
    .philo-container1 .philo-info p, .philo-container2 .philo-info p{
        font-size: 5vw;
        margin-top: 4%;
        font-weight: 400;
    }

    .philo-container1 img, .philo-container2 img{
        width: 100%;
    }

    .philo-info .philo-btn{
        padding: 14px 20px;
        width: 100%;
        max-width: 200px;
        margin-top: 6%;
    }
}


/*Footer Section Starts*/

footer{
    width: 100%;
    height: 30vw;
    background: #C2DAD4;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1{
    letter-spacing: .5vw;
    font-size: 8vw;
    font-weight: 200;
    color: #000;
}